@charset "UTF-8";

#red {
	color:red;
}

#ld {
background:#ff9999;
}
#loveday {
background:#ffe5e5;
}
#bd {
background:#3399ff;
}
#birthday {
background:#cce5ff;
}
#lbd {
background:#3399ff;
}
#lovebirthday {
background:#cce5ff;
}